<button nz-button nzType="primary" (click)="openModal()" nzSize="small">
    Éditer
</button>

<nz-modal
        [(nzVisible)]="isModalVisible"
        nzTitle="Éditer l'auteur"
        (nzOnCancel)="closeModal()"
        nzFooter=""
>
    <form nz-form [formGroup]="editForm" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-label [nzRequired]="true">Nom</nz-form-label>
            <nz-form-control>
                <input nz-input formControlName="name" placeholder="Nom" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzRequired]="true">Prénom</nz-form-label>
            <nz-form-control>
                <input nz-input formControlName="firstName" placeholder="Prénom" />
            </nz-form-control>
        </nz-form-item>
        <div style="text-align: right; margin-top: 16px;">
            <button
                    nz-button
                    nzType="primary"
                    [disabled]="!editForm.valid"
                    (click)="submitForm()"
            >
                Valider
            </button>
        </div>
    </form>
</nz-modal>
