:host ::ng-deep .ant-table-tbody tr:hover {
    background-color: #ffe7e7 !important;
    cursor: pointer;
}

:host ::ng-deep .ant-table-tbody tr.selected {
    background-color: #ff4d4f !important;
    color: white !important;
    font-weight: bold;
}

:host ::ng-deep .ant-table-tbody tr {
    transition: 0.3s ease;
}

:host ::ng-deep .ant-table-cell {
    padding: 10px !important;
}
